extends layout.pug

block content
    form(class='ui scroll form',method='post',action='/send')
        .field
            label Recipient
            input(type='email', name='destination', value=reply.to)
        .field
            label Subject
            input(type='text', name='subject', value=reply.subject)
        .field
            label Text
            textarea(rows='20', name='text')
        .field
            label Key
            select(class='ui search dropdown',name='key')
                each val, index in keys
                    option(value=val.id) #{val.name}
        button(class='ui fluid large green submit button') Send

append scripts
    script(src='/form.js')