extends layout.pug

block content
    form(class='ui large form',method='post',action='/viewmail')
        .field
            label Key
            select(class='ui search dropdown',name='key')
                each val in keys
                    option(value=val.id) #{val.name}
        .field
            label Key Passphrase
            input(type='password', name='passphrase',placeholder='Passphrase')
        .field
            .ui.checked.checkbox
                input.hidden(type='checkbox', name='delete', checked="")
                label Delete mail
        
        input(type='hidden', name='seqno', value=mailNo)

        div(class='ui fluid large red submit button') Decrypt

append scripts
    script(src='/form.js')