extends layout.pug

block content
    form(class='ui form',method='get',action='/export')
        .field
            label Select key to export
            .ui.fluid.selection.dropdown
                input(type='hidden', name='key')
                i.dropdown.icon
                .default.text Key
                .menu
                    if privKeys.length > 0
                        .header Private
                        .divider
                        each val in privKeys
                            .item(data-value='priv-'+val.id) #{val.name}

                    if pubKeys.length > 0
                        .header Public
                        .divider
                        each val in pubKeys
                            .item(data-value='pub-'+val.id) #{val.name}

        button(class='ui fluid large green submit button') Export

append scripts
    script(src='/form.js')