extends layout.pug

block content

    .ui.icon.info.message
        i.info.circle.icon
        .content
            .header Hol' up!
            p This can take some time. Generating 4096 bit keys for your dodgy activites is hard work!

    form#gForm(class='ui large form',method='post',action='/genKey')
        .two.fields
            .field
                input(type='text', name='keyname',placeholder='Key Name')
            .field
                input(type='password', name='passphrase',placeholder='Passphrase')
        
        div(class='ui fluid large red submit button') Generate

    .ui.page.dimmer
        .content
            //- .ui.huge.text.loader Generating
            //- .ui.indicationg.progress
            //-     .bar
            //-     .label Generating
            h1.ui.inverted.icon.header
                i.notched.circle.loading.icon
                .content
                    | Please hang on
                    .sub.header#loadtext
                        | Depending on how shitty your PC is this can take some time

append scripts
    script(src='/generateForm.js')