extends layout.pug

block content

    if sMessage
        .ui.success.message
            .header Success
            p= sMessage
    if eMessage
        .ui.error.message
            .header Error
            p= eMessage

    .ui.center.aligned.three.column.grid

        mixin menuitem(icon,link,text)
            .column
                a(href=link)
                    .ui.segment
                        p= text
                        i(class='grey huge ' + icon + ' icon')
                        //- .sub.header Compose

        +menuitem('user secret', '/login', 'Login')
        +menuitem('cogs', '/generate', 'Generate')
        +menuitem('upload', '/import', 'Import')
        +menuitem('download', '/export', 'Export')

        +menuitem('inbox', '/inbox', 'Inbox')
        +menuitem('edit', '/compose', 'Compose')
        +menuitem('power off', '/logout', 'Exit')