extends layout.pug

block content
    form(class='ui form',method='post',action='/import',enctype='multipart/form-data')
        .field
            label Upload ASC File
            input(type='file', name='file')
        .field
            label Or paste here
            textarea(name='paste')
        .field
            label Name to save under
            input(type="text", name='name')
        button(class='ui fluid large green submit button') Import

append scripts
    script(src='/form.js')