extends layout.pug

block content
    .scroll
        .ui.dimmer
            .ui.loader

        table.ui.striped.compact.table
            thead
                tr
                    th From
                    th Date
                    th Subject
                    th

            tbody#mailTable
            //- tbody
                each val in mails
                    tr
                        td= val.header.from
                        td= val.header.date
                        td= val.header.subject
                        td
                            a( href="/decrypt?uid="+val.attruid )
                                button.ui.icon.button
                                    i.lock.open.icon

            tfoot
                tr
                    th(colspan='4')
                        form(class='ui right aligned form',method='get',action='/inbox')
                            .inline.field
                                label Show last
                                input#nMails(type='text', name='n')

append scripts
    script(src='/inbox.js')