doctype html
html
    include head.pug
    body

    if global.showWarning
        include warningModal.pug

    div(class='ui middle aligned center aligned container grid')
        .left.aligned.column
            a(href='/')
                h1.ui.inverted.header
                    i.paper.plane.icon
                    .content
                        | Safemail
                        .sub.header= title
            //- h2.ui.inverted.header= title
            
            .ui.left.aligned.raised.segment#content
                block content

    block scripts
        script(src='/jquery-3.3.1.min.js')
        script(src='/semantic.js')
        script(src='/warningModal.js')