extends layout.pug

block content

    .ui.styled.accordion

        .title.active
            | Load account data
            i.dropdown.icon
        .content.active
            form.ui.form.transition.visible(method='post',action='/login')
                .field
                    select(class='ui fluid dropdown',name='existingAcc')
                        each val in accounts
                            option(value=val.id) #{val.address}
                button.ui.fluid.violet.submit.button Login


        .title
            | Add new account
            i.dropdown.icon
        .content

            form(class='ui form transition hidden',method='post',action='/login')
                h4.ui.dividing.header Login Info
                .field
                    label eMail
                    input(type='email', name='address', placeholder='thezucc@notme.com')
                .field
                    label Username
                    input(type='text', name='username', placeholder='Username')
                .field
                    label Password
                    input(type='password', name='password', placeholder='Password')
                
                h4.ui.dividing.header Server Info
                .field
                    label SMTP Server
                    .fields
                        .twelve.wide.field
                            input(type='text', name='smtpHost',placeholder='Hostname')
                        .four.wide.field
                            input(type='text', name='smtpPort',placeholder='Port', maxlength='4')
                .field
                    label IMAP Server
                    .fields
                        .twelve.wide.field
                            input(type='text', name='imapHost',placeholder='Hostname')
                        .four.wide.field
                            input(type='text', name='imapPort',placeholder='Port', maxlength='4')

                .ui.segment
                    .field
                        .ui.checked.toggle.checkbox
                            input.hidden(type='checkbox', name='save', checked="")
                            label Save login info


                
                button.ui.fluid.large.violet.submit.button Login

append scripts
    script(src='/form.js')