extends layout.pug

block content
    p.mailhead 
        | #{mail.header.subject}
        br
        i #{mail.header.from}
    .ui.divider

    .mailtext= mail.plain

    a(href=replyLink)
        button.ui.fluid.primary.button Reply