.ui.large.modal
    .header WARNING
    .image.content
        .ui.medium.image
            img(src='http://i0.kym-cdn.com/entries/icons/original/000/017/373/kimjongz.PNG')
        .description
            .ui.header
                | Read this carefully!
            p This supercool tool was hand-crafted by a very, very sexy genius at an undisclosed location in Ulm, Germany.
            p It keeps all your vice, dodgy activity and dick-pics safe IF you use it right.
            p Should your room (or parent's basement) ever be raided by police, make sure to put your computer in flames and let it burn down! DO NOT let this get into Merkel's greasy hands!

    .actions
        .ui.positive.right.labeled.icon.button
            | Yes sir!
            i.checkmark.icon