﻿body {
    background-color: #DADADA;
    background-image: url('/img/dark-night.jpg');
    background-size: cover;
}

body > .grid {
    height: 100%;
}

.scroll{
    max-height: 700px;
    overflow-y: auto;
}

.mailtext {
    max-height: 700px;
    overflow-y: auto;
    white-space: pre-line;
    margin: 10px 0px 10px 0px;
}

p.mailhead {
    font-size: 15px;
    font-weight: 700;
}
p.mailhead > i {
    font-weight: 500;
}